{% set route = app.request.attributes.get('_route') %}
{% set slug = app.request.get('slug') %}
{% set queryParameters = app.request.query.all|unset_elements(['order_by', 'sort', 'page']) %}

<div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
        {{ 'bitbag_sylius_elasticsearch_plugin.ui.sort'|trans }}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'order_by': 'sold_units', 'sort': 'desc'}|merge(queryParameters)) }}">{{ 'bitbag_sylius_elasticsearch_plugin.ui.bestsellers'|trans }}</a>
        <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'order_by': 'product_created_at', 'sort': 'desc'}|merge(queryParameters)) }}">{{ 'bitbag_sylius_elasticsearch_plugin.ui.newest'|trans }}</a>
        <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'order_by': 'product_created_at', 'sort': 'asc'}|merge(queryParameters)) }}">{{ 'bitbag_sylius_elasticsearch_plugin.ui.oldest'|trans }}</a>
        <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'order_by': 'price', 'sort': 'desc'}|merge(queryParameters)) }}">{{ 'bitbag_sylius_elasticsearch_plugin.ui.most_expensive'|trans }}</a>
        <a class="dropdown-item" href="{{ path(route, {'slug': slug, 'order_by': 'price', 'sort': 'asc'}|merge(queryParameters)) }}">{{ 'bitbag_sylius_elasticsearch_plugin.ui.cheapest'|trans }}</a>
    </div>
</div>
